.library-wrapper {
  .library-menu {
    // border-top: 1px solid rgb(224, 224, 224);
    // margin-top: 4.4rem;
    background: white;
    height: 3rem;
    border-bottom: 1px solid rgb(212, 212, 212);
    // top: 4.45rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    @include box-shadow(0px 2px 5px 0px rgb(195, 194, 194));

    .filter-library {
      line-height: 3rem;
    }
    .view-library {
      line-height: 3rem;

      .collection-menu-dd {
        .icon {
          &.no-default-icon {
            &:after {
              display: none;
            }
          }
        }
        .dropdown-menu {
          .dropdown-item {
            // height: 2rem;
            line-height: 1rem;
            padding: 0.5rem 1rem;
          }
        }
      }

      .icon {
        cursor: pointer;

        &.disabled {
          opacity: 0.5;
          cursor: default;
        }
      }
    }

    // .menu-wrapper {
    .filter-option {
      .filter-link {
        text-decoration: none;
        // padding-bottom: 0.97rem;
        // margin: 0 .5rem;
        // line-height: 3rem;
        @include calc(line-height, "3rem - 1px");
        display: inline-block;

        &.active {
          border-bottom: 1px solid blue;
          color: blue;
          font-weight: 500;
        }
      }
    }
    // }
  }

  .library-view-collection-wrapper {
    .item-wrapper {
      width: 100%;
      height: auto;
      // text-align: center;
      border: 1px solid #ddd;

      img.item-size {
        max-width: 100%;
        opacity: 0;
        visibility: hidden;
      }
      .collection-detail {
        position: absolute;
        top: 0;
        bottom: 0;

        .collection-detail-inner {
          position: relative;
          max-width: 100%;
          max-height: 100%;
          overflow: hidden;
          .book-wrapper {
            .img-container {
              position: relative;
              overflow: hidden;
              background-color: #f3f3f3;

              .img-view-scaffolding {
                visibility: hidden;
                max-width: 100%;
              }
              .book-img {
                max-width: 100%;
                max-height: 100%;
              }

              &.empty {
                background-color: transparent;
              }
            }
            // .book {
            //   img {
            //     max-width: 100%;
            //   }
            // }
          }
          .collection-name {
            width: 85%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
          }
          .collection-book-count {
            width: 15%;

            /* body:not(.rtl) & {
              float: right;
            }
            body.rtl & {
              float: left;
            } */
          }
        }

        body:not(.rtl) & {
          right: 0;
          left: 1rem;
        }
        body.rtl & {
          right: 1rem;
          left: 0;
        }
      }

      .collection-actions {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #efefef99;
        body:not(.rtl) & {
          left: 15px;
          right: 0;
        }
        body.rtl & {
          right: 15px;
          left: 0;
        }
        .actions {
          display: flex;
          justify-content: center;
          height: 100%;
          flex-flow: column;
          text-align: center;
          .action {
            align-self: center;
            width: 2rem;
            height: 2rem;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-flow: column;
            margin-bottom: 0.5rem;
            cursor: pointer;
            background-color: #ffffffc4;
            border-radius: 0.5rem;
          }
        }
      }

      &.uncollected {
        .collection-detail {
          .collection-detail-inner {
            // position: absolute;
            // top: 45%;
            text-align: center;
            @extend .center-el-in-box;
            .collection-book-count {
              display: block;
              width: 100%;
              font-size: 1.5rem;
            }
            .collection-name {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
