.library-items-view-grid-wrapper {
  //   width: 100%;
  .item-wrapper {
    width: 100%;
    height: 100%; // auto;
    text-align: center;
    background-color: #f3f3f3;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .book-progress-state {
      position: absolute;
      top: 0rem;
      body:not(.rtl) & {
        right: 0.5rem;
      }
      body.rtl & {
        left: 0.5rem;
      }

      .bp-state-number {
        width: 1.6rem;
        height: 1.2rem;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 0.6rem;
        color: white;
        text-align: center;
        .text {
          @extend .center-el-in-box;
          top: 40%;
        }
      }
      .bp-state-arrow {
        width: 0;
        height: 0;
        border-left: 0.8rem solid transparent;
        border-right: 0.8rem solid transparent;
        border-top: 0.6rem solid rgba(0, 0, 0, 0.6);
      }
      .progress-complete-label {
        display: none;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-size: 0.7rem;
        text-transform: uppercase;
        text-align: center;
      }

      &.progress-complete {
        top: 35%;
        width: 100%;
        body:not(.rtl) & {
          right: -15%;
          transform-origin: right;
          @include prefix(transform, rotate(45deg));
        }
        body.rtl & {
          left: -15%;
          transform-origin: left;
          @include prefix(transform, rotate(-45deg));
        }

        .bp-state-number,
        .bp-state-arrow {
          display: none;
        }
        .progress-complete-label {
          display: block;
        }
      }
    }
    .book-download {
      position: absolute;
      bottom: 0.5rem;
      display: flex;
      body:not(.rtl) & {
        right: 0.5rem;
      }
      body.rtl & {
        left: 0.5rem;
      }
      i {
        font-size: 1.5rem;
        // width: 1.5rem;
        // height: 1.5rem;
        // background-color: rgba(0, 0, 0, 0.6);
        // border-radius: 50%;
        // color: white;
        // text-align: center;
        // padding-top: 0.2rem;
        &.downloading {
          font-family: inherit;
          // text-shadow: 0px 0px 10px #fff;
          text-shadow: 0 0 10px #fff, 0 0 10px #fff;
        }
      }
    }

    .selected-item-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #77777799;
      right: 0;
      left: 0;

      .selected-icon-wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-flow: column;
        text-align: center;
        .icon {
          font-size: 4rem;
          color: #ffffff;
        }
      }
    }
  }
}

.library-items-view-list-wrapper {
  .view-list-item {
    border-bottom: 1px solid rgb(224, 224, 224);

    .item-wrapper {
      cursor: pointer;
      position: relative;

      .selected-item-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #77777799;
        right: 15px;
        left: 15px;

        .selected-icon-wrapper {
          display: flex;
          justify-content: center;
          height: 100%;
          flex-flow: column;
          text-align: center;
          .icon {
            font-size: 4rem;
            color: #ffffff;
          }
        }
      }
    }

    .detail-wrapper {
      .book-title {
        font-weight: 500;
        text-overflow: ellipsis;
        text-transform: capitalize;
        max-width: calc(100% - 1.5rem);
        overflow-wrap: break-word;
      }
      .book-writer {
        word-break: break-all;
        text-transform: uppercase;
        display: block;
      }
      .book-progress {
        font-weight: 500;
      }
      .book-volume {
        font-weight: 500;
        direction: ltr;
        display: inline-block;
      }
      .downloaded-icon {
        position: absolute;
        top: 0;
        font-size: 1.5rem;
        body:not(.rtl) & {
          right: 1rem;
        }
        body.rtl & {
          left: 1rem;
        }

        &.downloading {
          font-family: inherit;
          direction: ltr;
          // text-shadow: 0px 0px 10px #fff;
          text-shadow: 0 0 10px #fff, 0 0 10px #fff;
        }
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
