.reader-overview-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .overview-header {
    // background: white;
    height: 3rem;
    @include box-shadow(0px 2px 5px 0px #e6e6e6);
    padding: 0 0.5rem;

    .icon-wrapper {
      line-height: 3rem;

      .menu-dd {
        .icon {
          &.no-default-icon {
            &:after {
              display: none;
            }
          }
        }
        .dropdown-menu {
          .dropdown-item {
            line-height: 1rem;
            padding: 0.5rem 1rem;
          }
        }
      }
      .icon {
        cursor: pointer;

        &.disabled {
          opacity: 0.5;
          cursor: default;
        }
      }
    }
  }

  .overview-body {
    height: calc(100% - 6rem);
    overflow: hidden;
    .book-title,
    .page-location {
      height: 1.5rem;
    }
    .page-location {
      margin: 0.5rem 0;
    }
    .app-carousel_DELETE_ME {
      height: calc(100% - 5rem);
      overflow: hidden;
    }
    .app-swiper {
      height: calc(100% - 5rem);
      // overflow: hidden;
    }
  }

  .overview-footer {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    padding: 0 0.5rem;
    .footer-slider {
      width: 100%;
      margin: 0 2rem;

      .rc-slider {
        .rc-slider-rail {
          height: 2px;
        }
        .rc-slider-track {
          height: 2px;
        }
        .rc-slider-handle {
          border-width: 1px;
          margin-top: -6px;
        }
      }
    }
  }

  .overview-sidebar-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    @include transition(background-color 0.3s);
    &.open {
      z-index: 1;
      background-color: #00000066;
    }
  }
  .overview-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #fdffff;
    z-index: 1;
    @include box-shadow(-2px 0px 5px 0px #7d7d7d); // e6e6e6
    @include transition(transform 0.3s);
    overflow: hidden;
    body:not(.rtl) & {
      left: 0;
      @include prefix(transform, translateX(-260px));
    }
    body.rtl & {
      right: 0;
      @include prefix(transform, translateX(260px));
    }

    .overview-sidebar-header {
      height: 3rem;
      @include box-shadow(0 2px 5px 0px #e6e6e6);
      display: flex;
      align-items: center;
    }

    .overview-sidebar-body {
      // height: calc(100% - 3rem);
      @include calc("height", "100% - 3rem");
      overflow-x: hidden;

      .item {
        border-bottom: 1px solid #ddd;
        .book-main-detail {
          .book-title-writer-wrapper {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;

            // .book-title {
            // }
            // .book-writer {
            // }
          }
        }

        .book-chapters {
          ul {
            // padding-right: 0.25rem;
            list-style: none;
            // margin-bottom: 0.5rem;
            li {
              // .chapter-title {
              //   pa
              // }
              &.clickable {
                cursor: pointer;
              }
              &.disabled {
                > .chapter-title {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }

    &.open {
      @include prefix(transform, translateX(0) !important);
    }
  }

  &.theme-dark {
    background-color: $reader-theme-dark-bgColor;
    color: $reader-theme-dark-color;

    .overview-header {
      .icon-wrapper {
        .menu-dd {
          .dropdown-menu {
            background-color: lighten($reader-theme-dark-bgColor, 15);
            .dropdown-item {
              color: darken($reader-theme-dark-color, 15);
              &:hover,
              &:focus {
                background-color: lighten($reader-theme-dark-bgColor, 30);
              }
            }
          }
        }
      }
    }
    .overview-sidebar {
      background-color: lighten($reader-theme-dark-bgColor, 15);
      color: darken($reader-theme-dark-color, 15);
    }
  }
  &.theme-green {
    background-color: $reader-theme-green-bgColor-light;
    color: $reader-theme-green-color;

    .overview-header {
      .icon-wrapper {
        .menu-dd {
          .dropdown-menu {
            background-color: $reader-theme-green-bgColor-light;
            .dropdown-item {
              color: $reader-theme-green-color;
              &:hover,
              &:focus {
                background-color: lighten($reader-theme-green-bgColor-light, 15);
              }
            }
          }
        }
      }
    }
    .overview-sidebar {
      background-color: $reader-theme-green-bgColor-light;
      color: $reader-theme-green-color;
    }
  }
  &.theme-sepia {
    background-color: $reader-theme-sepia-bgColor-light;
    color: $reader-theme-sepia-color;

    .overview-header {
      .icon-wrapper {
        .menu-dd {
          .dropdown-menu {
            background-color: $reader-theme-sepia-bgColor-light;
            .dropdown-item {
              color: $reader-theme-sepia-color;
              &:hover,
              &:focus {
                background-color: lighten($reader-theme-sepia-bgColor-light, 15);
              }
            }
          }
        }
      }
    }
    .overview-sidebar {
      background-color: $reader-theme-sepia-bgColor-light;
      color: $reader-theme-sepia-color;
    }
  }
}

.reader-overview-wrapper {
  .overview-body {
    .app-carousel_DELETE_ME {
      .slick-slider {
        height: 100%;
        .slick-list {
          height: 100%;
          .slick-track {
            height: 100%;
            .slick-slide {
              height: 100%;
              > div {
                height: 100%;
              }
              // & slick-active slick-center slick-current
            }
          }
        }
      }
      .item-wrapper {
        height: 100%;

        .item {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid #ddd;
          margin: 0 1rem;
          padding: 0.25rem;
          justify-content: space-between;

          .page-img-wrapper {
            max-width: 100%;
            max-height: calc(100% - 2rem);
            width: 100%;
            background-color: #eaffff;
            text-align: center;
            padding: 1rem;
            .page-img {
              max-width: 100%;
              max-height: 100%;
              display: inline-block;
            }
          }
          .page-number {
            border-top: 1px solid #ddd;
            width: 100%;
            text-align: center;
            margin-top: 0.25rem;
            padding-top: 0.25rem;
          }
        }
      }
    }

    .app-swiper {
      .swiper-container {
        height: 100%;
        padding: 0 4rem;
        // padding: 0 6rem;
        overflow: visible;
        // .swiper-wrapper {
        //   .swiper-slide {
        //   }
        // }
      }
      // .item-wrapper {
      // height: 100%;

      .item {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        margin: 0 1rem;
        // margin: 0 0.5rem;
        padding: 0.25rem;
        justify-content: space-between;
        // box-shadow: 0px 4px 14px 0px #dadada;
        @include box-shadow(0px 4px 14px 0px #dadada);

        .page-img-wrapper {
          max-width: 100%;
          // max-height: calc(100% - 2rem);
          height: calc(100% - 2rem);
          width: 100%;
          // background-color: #eaffff;
          text-align: center;
          padding: 1rem;
          .page-img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            //
            width: auto;
            height: auto;
          }
        }
        .page-number {
          border-top: 1px solid #ddd;
          width: 100%;
          text-align: center;
          margin-top: 0.25rem;
          padding-top: 0.25rem;
        }
      }
      // }
    }
  }

  &.theme-dark {
    .overview-body {
      .app-swiper {
        .item {
          // box-shadow: 0px 4px 14px 0px #5f5f5f;
          @include box-shadow(0px 4px 14px 0px #5f5f5f);
        }
      }
    }
  }
  &.theme-green {
    .overview-body {
      .app-swiper {
        .item {
          background-color: $reader-theme-green-bgColor;
          .page-number {
            border-top-color: $reader-theme-green-color;
          }
        }
      }
    }
  }
  &.theme-sepia {
    .overview-body {
      .app-swiper {
        .item {
          background-color: $reader-theme-sepia-bgColor;
          .page-number {
            border-top-color: $reader-theme-sepia-color;
          }
        }
      }
    }
  }
}

//modal
.reader-overview-modal-goto {
  input.form-control {
    background-color: transparent;
  }
  &.theme-dark {
    .modal-content {
      background-color: lighten($reader-theme-dark-bgColor, 15);
      color: darken($reader-theme-dark-color, 15);

      input.form-control {
        color: darken($reader-theme-dark-color, 15);
      }
    }
    .modal-footer {
      .btn {
        color: darken($reader-theme-dark-color, 15);
      }
    }
  }
  &.theme-green {
    .modal-content {
      background-color: $reader-theme-green-bgColor-light;
      color: $reader-theme-green-color;

      input.form-control {
        color: $reader-theme-green-color;
      }
    }
    .modal-footer {
      .btn {
        color: $reader-theme-green-color;
      }
    }
  }
  &.theme-sepia {
    .modal-content {
      background-color: $reader-theme-sepia-bgColor-light;
      color: $reader-theme-sepia-color;

      input.form-control {
        color: $reader-theme-sepia-color;
      }
    }
    .modal-footer {
      .btn {
        color: $reader-theme-sepia-color;
      }
    }
  }
}

.reader-overview-modal-epub {
  .section-theme {
    .btn-group {
      [class*="theme-"] {
        border-color: rgba(darken($reader-theme-dark-color, 15), 0.5); // transparent;
      }
      .theme-white {
        background-color: $reader-theme-dark-color;
        color: $reader-theme-dark-bgColor;
      }
      .theme-dark {
        background-color: $reader-theme-dark-bgColor;
        color: $reader-theme-dark-color;
      }
      .theme-green {
        background-color: $reader-theme-green-bgColor;
        color: $reader-theme-green-color;
      }
      .theme-sepia {
        background-color: $reader-theme-sepia-bgColor;
        color: $reader-theme-sepia-color;
      }
      [class*="theme-"].active {
        &:before {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f00c";
        }
      }
    }
  }
  .section-font,
  .section-zoom {
    .btn-group {
      .btn.active {
        &:before {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f00c";
        }
      }
    }
  }

  .list-group-item {
    background-color: transparent;
  }

  &.theme-dark {
    .modal-content {
      background-color: lighten($reader-theme-dark-bgColor, 15);
      color: darken($reader-theme-dark-color, 15);
    }
    .modal-footer {
      .btn {
        color: darken($reader-theme-dark-color, 15);
      }
    }
  }
  &.theme-green {
    .modal-content {
      background-color: $reader-theme-green-bgColor-light;
      color: $reader-theme-green-color;
    }
    .modal-footer {
      .btn {
        color: $reader-theme-green-color;
      }
    }
  }
  &.theme-sepia {
    .modal-content {
      background-color: $reader-theme-sepia-bgColor-light;
      color: $reader-theme-sepia-color;
    }
    .modal-footer {
      .btn {
        color: $reader-theme-sepia-color;
      }
    }
  }
}
