.reader-audio-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .audio-header {
    background: white;
    height: 3rem;
    @include box-shadow(0px 2px 5px 0px #e6e6e6);
    padding: 0 0.5rem;

    .icon-wrapper {
      // line-height: 3rem;
      // line-height: 3rem;
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
      height: 3rem;

      .go-back {
        width: 2rem;
        z-index: 1;
      }

      .book-title {
        flex-grow: 1;

        body:not(.rtl) & {
          margin-left: -2rem;
        }
        body.rtl & {
          margin-right: -2rem;
        }
      }

      // .icon {
      //   cursor: pointer;

      //   &.disabled {
      //     opacity: 0.5;
      //     cursor: default;
      //   }
      // }
    }
  }

  .audio-body {
    height: calc(100% - 3rem - (5rem + 2px));
    overflow: hidden;
    // .book-title {
    //   height: 1.5rem;
    // }

    // .audio-control{}

    // .app-swiper {
    //   height: calc(100% - 5rem);
    //   overflow: hidden;
    // }
  }

  .audio-footer {
    // display: flex;
    // justify-content: space-between;
    // height: 3rem;
    // align-items: center;
    padding: 0 0.5rem;
    // background-color: aliceblue;
    @include box-shadow(0px -2px 5px 0px #e6e6e6);
    position: relative;
  }
}

.reader-audio-wrapper {
  .audio-body {
    .playlist {
      // height: 2rem;
      // height: calc(100% - (13rem + 2rem + 1rem + 1.5rem));
      // height: calc(100% - 0.5rem - (13rem));
      height: calc(100% - 0.5rem - (8rem));
      // overflow-y: scroll;
      overflow-x: hidden;
      // background-color: aliceblue;
      background-color: #dddddd14;

      .audio-list {
        .audio-item {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 0.25rem 1rem;
          font-size: 0.8rem;

          &:not(.active) {
            background-color: transparent;
          }
          &.active {
            background-color: app-color(system);
            border-color: app-color(system);
          }
        }
      }
      .book-chapters {
        ul {
          list-style: none;
          margin-bottom: 0;
          li {
            .chapter-title {
              // overflow: hidden;
              // white-space: nowrap;
              // text-overflow: ellipsis;
              &.active {
                color: app-color(system);
                background-color: app-color(system, color);
              }
              &:hover {
                background-color: $white;
              }
            }
            // &.clickable {
            //   > .chapter-title {
            //     cursor: pointer;
            //   }
            // }
            &.disabled {
              > .chapter-title {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
    .player {
      // height: 13rem + 2rem + 1rem + 1.5rem;
      height: 8rem; // 13rem
      overflow: hidden;
      background-color: #dddddd14;

      .waveform-container {
        padding: 0 0.5rem;
        height: 6rem; // 11rem

        .waveform-wrapper {
          // height: 6.5rem;
          height: 5rem; // 10rem
          overflow: hidden;
          position: relative;
          // .waveform{}
        }
        // .wave-timeline {
        //   background-color: aliceblue;
        // }
        &.is-pause {
          opacity: 0.7;
        }
      }

      // .progress {
      // }
      // .current-time{}
    }
  }
  .audio-footer {
    .audio-control {
      .action-btn {
        display: flex;
        padding: 1rem;
        // border: 1px solid app-color(info);
        border-radius: 50px;
        // color: app-color(info);

        i {
          width: 1rem;
          height: 1rem;
        }
        &:focus {
          // box-shadow: none;
          @include box-shadow(none);
          background-color: lighten(app-color(system), 65);
        }
      }
      .volume-dd-container {
        position: absolute;
        right: 1rem;
        z-index: 4; // 3
        // body.rtl & {
        //   right: 1rem;
        // }
        // body:not(.rtl) & {
        //   left: 1rem;
        // }
        .volume-dd {
          .action-btn-volume {
            padding: 0.75rem;
            i {
              width: 1.5rem;
              height: 1.5rem;
              font-size: 1.5rem;
              position: relative;
              display: flex;
              justify-content: center;
              &.is-muted {
                justify-content: left;
                &:after {
                  content: "\f00d";
                  font-size: 0.8rem;
                  @include prefix(transform, translate(100%, -50%));
                  position: absolute;
                  top: 50%;
                }
              }
            }
            &:before,
            &:after {
              display: none;
            }
          }
          .dropdown-menu {
            min-width: 3rem;
            padding: 1rem 0;
            .rc-slider-wrapper {
              display: flex;
              justify-content: center;
              height: 10rem;
              margin-bottom: 1rem;
              // .rc-slider {
              //   height: 10rem;
              // }
            }
            .toggle-mute {
              display: flex;
              justify-content: center;
              i {
                width: 1rem;
                height: 1rem;
                position: relative;
                display: flex;
                justify-content: center;
                &.is-muted {
                  justify-content: left;
                  &:after {
                    content: "\f00d";
                    font-size: 0.6rem;
                    @include prefix(transform, translate(100%, -50%));
                    position: absolute;
                    top: 50%;
                  }
                }
              }
            }
          }
        }

        &.is-small-media {
          bottom: 11rem; // 16rem;
          .volume-dd {
            .dropdown-menu {
              padding: 0 1rem;
              // display: flex;
              align-items: center;
              right: auto;
              .rc-slider-wrapper {
                height: auto;
                min-height: 3rem;
                width: 10rem;
                margin-bottom: 0;
                margin-right: 1rem;
                align-items: center;
              }
              &.show {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}
